<!-- <div class="w-96 bg-blue shadow rounded">
  w-96
</div>
<div class="w-80 bg-green shadow rounded">
  w-80
</div>

<div class="bg-[var(--background-color)] text-[var(--text-color)] p-4 rounded-md">
  Themed Card
</div> -->

<!-- <button class="bg-[var(--primary-color)] text-white px-4 py-2 rounded-md"> -->
<button mat-fab extended>Click Me !</button>
<!-- </button> -->

<p class="green-theme">
  Green Theme:
  <mat-button-toggle-group name="fontStyle" [hideSingleSelectionIndicator]="true" (change)="toggleTheme()">
    <mat-button-toggle value="green-dark"> <mat-icon>dark_mode</mat-icon> Dark</mat-button-toggle>
    <mat-button-toggle value="green-light"> <mat-icon>light_mode</mat-icon> Light</mat-button-toggle>
  </mat-button-toggle-group>
</p>